<!DOCTYPE html>
<html lang="en">
<head>
  <title>Abdishakur Yoonis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-715VMUUaOfZR3/rWXZJ9agJ/udwSXGEigabzUbJm2NR4/v5wpDy8c14yedZN6NL7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
		<h1><a href="/">{{ page.title }}</a></h1>   
		<h3>Data Science Portfolio</h3>
		<a href="/" class="btn btn-info" role="button">Home</a>
		<a href="/Resume" class="btn btn-info" role="button">Resume</a>
		<a href="/Projects" class="btn btn-info" role="button">Projects</a>
	  </div>
	</div>

		<div class="container container-fluid" style="margin-top:0">
		  <div class="row">
				<div class="col-sm-3">
					<!--Photo and About Me Column-->   
					<h2>About Me</h2>
					<div class="card bg-light" style="width:200px">
						<img class="card-img-top" src="assets/me_200.jpg" alt="Card image" style="width:100%">
						<div class="card-body">
						
							<h4 class="card-title">Abdishakur Yoonis</h4>
							<h6 class="card-text"><br>MSc Data Scientist <br>MSc Software Engineer <br>BSc Software Engineer</h6>
							<hr>
							<h6 class="card-text">Data Science</h6>
							<h6 class="card-text">Data Analysis</h6>
							<h6 class="card-text">Machine Learning</h6>
							<h6 class="card-text">Software Engineering</h6>
							<h6 class="card-text">Software Development</h6>
							<h6 class="card-text">Python, SQL, C#, Java, JavaScript and many more</h6>
							<hr>
							
							<div id="follow-me" class="mt-2">
								<!--social media buttons column-->     
								<a href="https://www.linkedin.com/in/ayoonis/">
									<img src="assets/linkedinlogo_25.png" alt="linkedin" class="img-fluid mb-4 ml-2">
								</a>
								
								<a href="https://github.com/Abdishakury">
									<img src="assets/githublogo_25.png" alt="github" class="img-fluid mb-4 ml-2">
								</a>
								
								<a href="mailto:Abdishakuryh@gmail.com">
									<img src="assets/email_logo_25.png" alt="github" class="img-fluid mb-4 ml-2">
								</a>
								<h6>Feel free to reach out or follow</h6>	
							</div>
						  
						</div>
					  </div>

				</div>
				
				<div class="col-sm-8">
				  {{ content }}
				  
				</div>
		  </div>
		</div>
		
<hr>
<div class="container text-center" style="margin-top:100">

	<footer>
		<div class="col-sm-12">
			<ul>
				<div class="mx-auto" style="width:200px"><h5>Contact</h5></div>
					<h6>
						<a href="mailto:Abdishakuryh@gmail.com">E-Mail</a> | 
						<a href="https://www.linkedin.com/in/ayoonis/">LinkedIn</a> | 
						<a href="https://github.com/Abdishakury">GitHub</a> | 
						<a href="https://medium.com/@abdishakuryh/abdishakur-yoonis-8e19d09d8a61">Medium</a>
					</h6>
			</ul>
		</div>
		
		<div class="col-sm-12">
			<ul>
				<div class="mx-auto">
					<p>
						This website was made using <a href="https://pages.github.com/">GitHub Pages</a>. You can view this page on <a href="https://abdishakury.github.io/">GitHub.</a>
					</p>
				</div>
			</ul>
		</div>

	</footer>
	
</div>

</body>

</html>
